<div class="container">
  <h1 class="text-center">Sonar</h1>
  <div class="row">
    <div class="col-half">
      <div class="col-half right-border">
        <h2 class="text-center">Search</h2>
        <%= form_tag(property_list_path, remote: true, id: 'house-selector') do %>
          <div class="col-wrapper">
            <div class="group">
              <div class="col-half">
                <%= label_tag :county %>
              </div>
              <div class="col-half">
                <%= text_field_tag :county, params[:county] %>
              </div>
            </div>
            <div class="group">
              <div class="col-half">
                <%= label_tag :town %>
              </div>
              <div class="col-half">
                <%= text_field_tag :town, params[:town] %>
              </div>
            </div>
            <div class="group">
              <div class="col-half">
                <%= label_tag :min_bedrooms, 'Min Bedrooms' %>
              </div>
              <div class="col-half">
                <%= number_field_tag :min_bedrooms, params[:min_bedrooms] %>
              </div>
            </div>
            <div class="group">
              <div class="col-half">
                <%= label_tag :max_bedrooms, 'Max Bedrooms' %>
              </div>
              <div class="col-half">
                <%= number_field_tag :max_bedrooms, params[:max_bedrooms] %>
              </div>
            </div>
            <div class="group">
              <div class="col-half">
                <%= label_tag :min_price, 'Min Price' %>
              </div>
              <div class="col-half">
                <%= number_field_tag :min_price, params[:min_price] %>
              </div>
            </div>
            <div class="group">
              <div class="col-half">
                <%= label_tag :max_price, 'Max Price' %>
              </div>
              <div class="col-half">
                <%= number_field_tag :max_price, params[:max_price] %>
              </div>
            </div>
            <div class="group text-center">
              <%= submit_tag 'Find properties', remote: true, class: 'button-block' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-half side-borders">
        <div class="group col-wrapper">
          <div id="property-list-wrapper"></div>
        </div>
      </div>
    </div>
    <div class="col-half">
      <div class="group col-wrapper">
        <div id="show-property-wrapper"></div>
      </div>
    </div>
  </div>
</div>
