<h2 class="text-center">Properties</h2>
<h3 class="text-center">
  <%= "#{@properties.count} properties found" %>
</h3>
<% @properties.each do |property| %>
  <a class="property-link" href="#" id="property_<%= property.property_id %>" rel="<%= property.property_id %>">
    <div class="property-link-town">
      <%= property.town %>
    </div>
    <div class="property-link-price">
      <%= property.price %>
    </div>
    <div class="property-link-status">
      <%= property.status %>
    </div>
  </a>
<% end %>
<script>
  
  $(function(){
    $('.property-link').on('click', function(e){
      e.preventDefault();
      var prop_id = $(this).attr('rel');
      $.ajax({
        url: "/show-property",
        type: "POST",
        data: { id: prop_id },
        success: function(result){
          $("#show-property-wrapper").html(result).addClass;
        },
        error: function(){
          alert('Error occured');
        }
      });
    });
  });

</script>
